<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553459087272-vmqmdb155aqii6q9jgpn55o67cmti3ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553459087272-vmqmdb155aqii6q9jgpn55o67cmti3ei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553459087272-k0mmsk6eefunk22rbtbu0n06pivl83lj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiMIcNWeO7v-58u0zHgBfzxoX-H0aOsPI</string>
	<key>GCM_SENDER_ID</key>
	<string>553459087272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sneakerPuma</string>
	<key>PROJECT_ID</key>
	<string>stockscreener-dc9df</string>
	<key>STORAGE_BUCKET</key>
	<string>stockscreener-dc9df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553459087272:ios:ed947df3ee7a987a578f9d</string>
</dict>
</plist>